In [2]:
print(1)
print(2)

1
2

In [6]:
print(3)

3

In [2]:
#to write multiple line codes, simple press enter
#put to ouput the code, press Ctrl + Enter
#remember we assume that this is a cell and once you press Ctrl + Enter you have sort of closed the cell though you can still
#edit that cell after closing it
#to open another cell, Alt + Enter will do it
#if you love to delete a cell, you can press Esc first, then press the d key twice

In [3]:
#lets work on some csv files
#import pandas
import pandas

#let read the csv file using pandas
df = pandas.read_csv("/Users/Hp/Documents/GitHub/LearnPython/data_analysis/files/Test.csv")
df

#check 32 and 33.png for csv and output

,Name,Age,Job,School,Group
0,"Akinlua, Olorunfemi",19,"Data and Machine Learning Engineer, Control En...",OAU,Control and Computation Group
1,"Arigbede, Jacob",21,Design Engineer,OAU,Engineering Design Group
2,"Adetunji, Simi",21,Design Engineer,OAU,Engineering Design Group
3,"Arojo, Timi",20,"Software Developer, Simulation Expert",OAU,Control and Computation Group
4,"Olaoye, Laolu",22,Mechanical Engineer,OAU,Mechanics Group